[submodule "embedded"]
	path = embedded
	url = https://stonkol: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@github.com/stonkol/lets-embedded.git
[submodule "swift"]
	path = swift
	url = https://stonkol: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@github.com/stonkol/lets-swift-swim.git
